@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss"; 

@theme
{
    --color-bgprimary: #DCD6D0 ;
    --color-bgsecondary: #EEEAE8;
    --color-altfont: #2F2923; 

    --color-primaryfont: #1c1c1c;
    --color-secondaryfont: black; 

    --color-borderprimary: #323030; 

    --color-primary: #966B9D;
    --color-accent: #966B9D;
    --color-secondary: #228CDB; 
    --font-playfair: "Playfair Display", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}


